{% extends 'paginate.html' %}

{% block title %}
<title>Shopping List</title>
{% endblock title %}

{% block content %}
 <div>
    <form method="post" action="{% url 'shopping_delete' %}">
    {% csrf_token %}
    <button>Remove Items in Shopping List</button>
</div> 
<main class="recipe-grid">
    {% for item in shopping_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
           {{ item.food_item.name }}
        </h2>
      </div>
    {% endfor %}
</main>
{% endblock content %}