{% extends 'base.html' %}

{% block title %}
<title>Delete Meal Plan</title>
{% endblock title %}


{% block content %}
    <main class='delete-form'>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ meal_plan.name }}"?</p>
            {{ form.as_p }}
            <div>
                <button class="button">Delete</button>
            </div>
{% endblock content %}