{% extends "base.html" %}
{% load markdownify %}

{% block title%}
<title>Your Meal Plan</title>
{% endblock title%}
{% block content %}
  <main class="recipe-detail">
     <div>
      <a href="{% url "meal_plan_edit" meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>  
    <h1>{{ meal_plan.name }}</h1>
    <h2>Owner: {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      Execute on {{ meal_plan.date }} |
      Edited on {{ meal_plan.updated }}
    </p>
    {% for recipe in object.recipes.all %}
        <h2>{{ recipe.name }}</h2>
        <p>{{ recipe.description }}</p>
    {% endfor %}
  </main>
{% endblock content %}
