{% extends "paginate.html" %}


{% block content %}
    <div>
        <a href="{% url 'meal_plan_new' %}">New Meal Plan</a>
    </div>
    <main class="recipe-grid">
        {% for meal_plan in meal_plan_list %}
        <div class="recipe-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'meal_plan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
            </h2>
            </div>
        {% endfor %}
    </main>
{% endblock content %}
